/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 以下正篇 */

p,
time {
    line-height: 150%;
    font-weight: 500;
}

body {
    font-family: Noto Sans TC;
    line-height: 150%;
    max-width: 1920px;
    justify-content: center;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}

.container {
    margin: 0 auto;
    max-width: 1296px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
}

.search {
    border: 1px solid #4B4B4B;
    border-radius: 40px;
    max-width: 352px;
    height: 32px;
    /* gap: 10px; */
    padding-top: 10px;
    padding-right: 48px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-top: 80px;
}

.search p {
    color: #4B4B4B;
    font-size: 24px;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.block {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 416px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tag {
    font-size: 24px;
    color: #0027d5;
    line-height: 150%;
}

.tag2 {
    font-size: 16px;
    color: #4b4b4b;
    height: 48px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

}

.link {
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 8px 16px;
    gap: 4px;
    width: 96px;
    height: 40px;
    color: #4b4b4b;
    text-decoration: none;
}

.up {
    margin-top: 16px;
}



.link2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    background: #0027d5;
    border-radius: 40px;
    width: 64px;
    height: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 8px;
    text-decoration: none;
}

.arc {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    max-width: 1920px;
    height: 90;
    gap: 40px;
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
}

.pic {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: auto;
}

.pic img {
    width: 50%;
}

.pic2 {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 1920px;
    margin: auto;
}

.pic2 img {
    width: 49%;
}

.text {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 51%;
}

.background {
    width: 50%;
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
}

.background div {
    padding-top: 40%;
    padding-right: 10%;
    padding-bottom: 40%;
    padding-left: 10%;
    font-weight: 900;
    color: #0027D5;
}

.background div h1 {
    font-size: 120px;
}

.background div h2 {
    margin-top: 48px;
    font-size: 28px;
}

.pagecode {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 328px;
    margin: auto;
    margin-bottom: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-top: 1px solid #4B4B4B;
    max-height: 208px;
    padding-top: 80px;
    padding-right: 312px;
    padding-bottom: 80px;
    padding-left: 312px;

}

.footer h1 {
    max-width: 1036px;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0%;

}

@media(max-width: 992px) {

    .pic,
    .pic2 {
        flex-direction: column;
        align-items: center;
    }

    .pic img,
    .pic2 img {
        width: 100%;
    }

    .block {
        max-width: 1920px;
    }

    .block img {
        width: 100%;
    }

    .text {
        width: 80%;
        margin: auto;
    }

    .tag2 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .background {
        width: 100%;
        height: 40%;
    }

    .background div {
        padding: 10%;
    }

    .background div h1 {
        font-size: 52px;
    }

    .search {
        margin: auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        display: none;
    }
}